body {
    margin: 0;
    font-family: monospace;
    background-color: rgb(110, 107, 107);
  }
  
  #bar-header {
    display: flex;
    justify-content: center;
    background: #3f1c05;
    opacity: 1;
    height: 7rem;
    padding: 1rem;
  }
  
  #drink-bar img {
    height: 6rem;
    width: auto;
  }
  
  #drink-collection {
    margin: 2rem;
  }

  .card-img {
    margin-left: 30px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px #360c0e
  }
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #360c0e
  }
  


  .drink-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  
  button {
    position: relative;
    background-color: #5c291a;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #5c291a solid 1px;
    color: #5c291a;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #3f1c05;
    opacity: 1;
  }
  
  .add-drink-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: #5c291a;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  h3 {
      color:whitesmoke
  }
  .submit:hover {
    background-color: whitesmoke;
    border: #3f1c05 solid 1px;
    color: #3f1c05;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }
  